<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<div>
  
  <app-interpolation></app-interpolation>
  <app-property-binding></app-property-binding>
  <app-class-binding></app-class-binding>
  <app-style-binding></app-style-binding>
  <app-event-binding></app-event-binding>
  <app-ng-if-directive></app-ng-if-directive>
  <app-ng-for-directive></app-ng-for-directive>
  <app-ng-switch-directive></app-ng-switch-directive>
  <app-my-service></app-my-service>
  <app-pipes></app-pipes>

  <div *ngFor="let user of users$">
    <h4>name of the user is {{user.name}} and id is {{user.id}}</h4>
    <p>email of the user is {{user.email}} and the user Name is {{user.name}}</p>
  </div>

</div>


